lib/presence.json
[{"id":"46f18cfc.c6b4ac","type":"websocket-listener","path":"/ws/presence","wholemsg":"false"},{"id":"f2bbffbb.ac0088","type":"mongodb","hostname":"127.0.0.1","port":"27017","db":"presenceDB","name":"presenceDB"},{"id":"b38d1e10.640038","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":""},{"id":"e624686b.cf4a8","type":"mqtt in","name":"presence","topic":"presence","broker":"b38d1e10.640038","x":59.5,"y":69,"z":"fc24ad4.e3850d","wires":[["13963a4b.af28c6"]]},{"id":"4a980be5.fb9794","type":"debug","name":"","active":true,"console":"false","complete":"true","x":615.5,"y":133,"z":"fc24ad4.e3850d","wires":[]},{"id":"7346ad12.1f3ed4","type":"mongodb out","mongodb":"f2bbffbb.ac0088","name":"","collection":"presence","payonly":false,"operation":"store","x":626.5,"y":208,"z":"fc24ad4.e3850d","wires":[]},{"id":"13963a4b.af28c6","type":"function","name":"toJson","func":"return { payload: JSON.parse(msg.payload) };","outputs":1,"x":298.5,"y":119,"z":"fc24ad4.e3850d","wires":[["4a980be5.fb9794","7346ad12.1f3ed4","c10f1b32.f4a81"]]},{"id":"c10f1b32.f4a81","type":"websocket out","name":"send to any connected client","server":"46f18cfc.c6b4ac","x":627.5,"y":291,"z":"fc24ad4.e3850d","wires":[]},{"id":"1e0e80d8.175657","type":"http in","name":"status","url":"/status","method":"get","x":116,"y":339,"z":"fc24ad4.e3850d","wires":[["2d3d9517.b8485a"]]},{"id":"2d3d9517.b8485a","type":"mongodb in","mongodb":"f2bbffbb.ac0088","name":"","collection":"status","x":387,"y":382,"z":"fc24ad4.e3850d","wires":[["6aeb6e3a.23409"]]},{"id":"6aeb6e3a.23409","type":"http response","name":"","x":647,"y":365,"z":"fc24ad4.e3850d","wires":[]}]